<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <h2 class="text-center mb-4 fw-bold">Sign Up</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <!-- First Name Field -->
          <div class="mb-3">
            <label for="firstName" class="form-label text-white fw-bold"
              >First Name</label
            >
            <input
              type="text"
              id="firstName"
              class="form-control"
              formControlName="firstName"
              placeholder="Enter your first name"
            />
            <div
              *ngIf="
                registerForm.get('firstName')?.invalid &&
                registerForm.get('firstName')?.touched
              "
              class="text-white"
            >
              First Name is required.
            </div>
          </div>

          <!-- Last Name Field -->
          <div class="mb-3">
            <label for="lastName" class="form-label text-white fw-bold"
              >Last Name</label
            >
            <input
              type="text"
              id="lastName"
              class="form-control"
              formControlName="lastName"
              placeholder="Enter your last name"
            />
            <div
              *ngIf="
                registerForm.get('lastName')?.invalid &&
                registerForm.get('lastName')?.touched
              "
              class="text-white"
            >
              Last Name is required.
            </div>
          </div>

          <!-- Email Field -->
          <div class="mb-3">
            <label for="email" class="form-label text-white fw-bold"
              >Email</label
            >
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="Enter your email"
            />
            <div
              *ngIf="
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.touched
              "
              class="text-white"
            >
              Email is required and must be valid.
            </div>
          </div>

          <!-- Password Field -->
          <div class="mb-3">
            <label for="password" class="form-label text-white fw-bold"
              >Password</label
            >
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              placeholder="Enter your password"
            />
            <app-password-strength
              [password]="registerForm.get('password')?.value"
            ></app-password-strength>
            <div
              *ngIf="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.touched
              "
              class="text-white"
            >
              Password must be at least 8 characters long and contain letters
              and numbers.
            </div>
          </div>

          <!-- Confirm Password Field -->
          <div class="mb-3">
            <label for="confirmPassword" class="form-label text-white fw-bold"
              >Repeat Password</label
            >
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              formControlName="confirmPassword"
              placeholder="Repeat your password"
            />
            <div
              *ngIf="
                registerForm.hasError('passwordMismatch') &&
                registerForm.get('confirmPassword')?.touched
              "
              class="text-white"
            >
              Passwords do not match.
            </div>
          </div>

          <!-- Register Button -->
          <button
            type="submit"
            class="btn btn-success w-100"
            [disabled]="registerForm.invalid"
          >
            Sign Up
          </button>
        </form>

        <!-- Error Message -->
        <div *ngIf="errorMessage" class="mt-3 text-danger text-center">
          {{ errorMessage }}
        </div>
      </div>

      <div
        class="text-center mt-4 d-flex justify-content-center align-items-center gap-4"
      >
        <div>
          Already have an account?
          <a
            routerLink="/login"
            class="text-decoration-none fw-bold text-success"
            >Login here</a
          >
        </div>
        <app-theme-switcher></app-theme-switcher>
      </div>
    </div>
  </div>
</div>
